{#{% extends "::base.html.twig" %}#}
{#{% extends 'base.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block title %}AppBundle:Event:index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="container">
                    <h2>{{ event.topic }}</h2>
                    <!--<h6>We offer exceptional service with complimentary hugs.</h6>-->
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                            <div class="service-list">
                                <div class="service-list-col1">
                                    <i class="fa-paw"></i>
                                </div>
                                <div class="service-list-col2">
                                    <h4>{{ event.description }}</h4>
                                    <h4>{{ event.eDate }}</h4>
                                </div>
                            </div>
                        </div>
                        <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                            <img src="{{ asset(['img/news/', event.image]|join) }}" class="img-circle img-responsive" alt="">
                            <br>
                            <br>
                            <a href="/" class="page-scroll btn btn-xl">На главную</a>
                            {% if is_granted("ROLE_MANAGER") %}
                                <a href="/events/delete/{{ event.id }}" class="btn btn-danger" id="delete">Удалить</a>
                                <a href="/events/edit/{{ event.id }}" class="btn btn-default" id="edit">Редактировать</a>
                            {% endif %}
                        </figure>

                    </div>
                </div>
            </div>
        </div>
    </header>

    {#    <h1 class="page-header">Subjects</h1>
        <table class="table table-responsive table-hover tablesorter" id="#myTable">
            <thead>
            <th>Name</th>
            <th>Description</th>
            </thead>
            <tbody>

                <tr id="{{ subject.id }}">

                    <td>{{ subject.name }}</td>
                    <td>{{ subject.description }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/subjects/create" class="btn btn-primary">ADD</a>
        <a href="#" class="btn btn-danger hidden" id="delete">DELETE</a>
        <a href="#" class="btn btn-default hidden" id="edit">EDIT</a>#}
{% endblock %}
{#
{% block javascripts %}
    {{ parent() }}
    <script>
        $( document ).ready(function() {
            $("tr").on('click',function( event ) {
                $("#delete").removeClass("hidden");
                $("#edit").removeClass("hidden");
                $("tr").removeClass('active');
                $(this).not("thead tr").addClass('active');
                $("#delete").attr('href','/events/delete/'+event.target.parentNode.id);
                $("#edit").attr('href','/events/edit/'+event.target.parentNode.id);
            });
        });
    </script>
{% endblock %}#}
